@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

body {
  @apply relative bg-background grainy-pattern text-p_text selection:bg-selectionBack;
}

.grainy-pattern {
  background-image: url('/assets/images/grainy-background.webp');
}

div > .router-link-active {
  @apply pt-2 pb-2 rounded-md bg-btn_back text-btn_text;
}

.page-enter-active,
.page-leave-active {
  transition-delay: 0.2s;
  transition: opacity 0.2s ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
  transform: translateY(1rem);
  transition: all 0.3s;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}
